<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bill Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Bills List</h1>
	
	<a th:href = "@{/bill/showNewBillForm}" class="btn btn-primary btn-sm mb-3"> Add Bill </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=uuid&sortDir=' + ${reverseSortDir}}">
							UUID Bill</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=billDate&sortDir=' + ${reverseSortDir}}">
							Date of Bill</a>
					</th>
					
					
					
					
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=totalAmount&sortDir=' + ${reverseSortDir}}">
							Total Amount</a>
					</th>
					
					
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=customerName&sortDir=' + ${reverseSortDir}}">
							Customer name</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=tableNumber&sortDir=' + ${reverseSortDir}}">
							Table number</a>
					</th>
					
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=employeeName&sortDir=' + ${reverseSortDir}}">
							Employee name</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=paymentMethod&sortDir=' + ${reverseSortDir}}">
							Payment method</a>
					</th>
					
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=Notes&sortDir=' + ${reverseSortDir}}">
							Notes</a>
					</th>
					
					
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bill : ${listBills}">
					<td th:text="${bill.uuid}"></td>
					<td th:text="${bill.billDate}"></td>
					<td th:text="${bill.totalAmount}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${bill.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteBill/{id}(id=${bill.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>